<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Acceptance suite">
    <listeners>
        <listener class-name="by.stormnet.automation.core.common.AnnotationTransformer"/>
    </listeners>
    <test verbose="2" name="login test">
        <classes>
            <class name="by.stormnet.web.LoanTest"/>
            <class name="by.stormnet.web.CollectionTest"/>
            <class name="by.stormnet.web.SettingsTest"/>
        </classes>
    </test>
</suite>